<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

        </div>
        <div class="container">
            <div class="content-center">
                <img class="n-logo"  src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/core_admin/logo/0x150/1593661164/2.png" alt="">
                <h1 class="h1-seo">Welcome.</h1>
                <h3>Software Development Blog.</h3>
            </div>
           
        </div>
    </div>
