<div class="navigation-example" style="background-image:url('assets/img/publicaciones.jpg')">
    <br>
    <br>
    <br>
    <br>
    <div>
        <div class="container">
            <div class="search">
                <h1>START YOUR SEARCH HERE</h1>
                <form>
                    <input [(ngModel)]="PublicacionToSearch" name="shoes_marca" autofocus type="text" placeholder="Enter the name of the brand...">
                    <button (click)="buscarPublicacionService()"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>

        <!--div>Carrucel</div-->
        <div *ngIf="busqueda">
            <div class="section" id="carousel" style="background-color: transparent;">
                <div class="container">
                    <div class="tim-title" style="text-align: center;">
                        <h3>Search results</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mr-auto ml-auto">
                            <div class="card page-carousel">
                                <ngb-carousel>
                                    <ng-template ngbSlide *ngFor="let publicacion of listaPublicaciones">
                                        <div class="container">
                                            <div class="card">
                                                <div class="card-top">
                                                    <a>
                                                        <img class="container" style="height: 100%; width: 100%;" src="../../../assets/img/usuario.png">
                                                    </a>
                                                </div>
                                                <div class="card-content">
                                                    <h6 class="tag tag-travel">Publicaciones</h6>
                                                    <a>
                                                        <h3></h3>
                                                    </a>
                                                    <h6 class="tag tag-travel">Cedula:</h6>
                                                    <p>{{publicacion.cedula}}</p>
                                                    <h6 class="tag tag-travel">Mensaje:</h6>
                                                    <p>{{publicacion.mensaje}}</p>
                                                    <h6 class="tag tag-travel">Tipo Mensaje:</h6>
                                                    <p>{{publicacion.tipoMensaje}}</p>

                                                </div>
                                            </div>

                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>