<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div *ngIf="loggedIn()">
            <div class="navbar-translate">
                <img class="" style="width: 35px;height: 35px;
                  border-radius: 50%"
                    src="https://xoxo.news/__export/1586654174108/sites/xoxo/img/2020/04/11/sech.jpg_1362836701.jpg"
                    alt="">
                <a class="navbar-brand" (click)="VerUsuario(objusuario.usuario)"  placement="bottom"
                    ngbTooltip="Aqui podra ver todas las publicaciones"
                    style="margin-left:10px ; text-shadow:0.1em 0.1em 0.2em black;font-size: 16px;font-family:Verdana;">
                    <strong>{{nombreusuario}} </strong>
                </a>
            </div>
        </div>

        <div *ngIf="loggedIn()">
            <a class="nav-link btn btn-neutral" style="cursor:pointe;background: transparent;"
                routerLinkActive="active" href="ingreso/Publicaciones">
                <i class="now-ui-icons objects_key-25"
                    style="text-shadow:0.1em 0.1em 0.2em black;color:white;"></i>
                <p style="text-shadow:0.1em 0.1em 0.2em black;color:white;"><strong>Crear Publicacion</strong>
                </p>

            </a>
        </div>


        <div *ngIf="!loggedIn()">
            <a class="navbar-brand" [routerLink]="['/home']" placement="bottom"
                ngbTooltip="Aqui podra ver todas las publicaciones"
                style="margin-left:10px ; text-shadow:0.1em 0.1em 0.2em black;font-size: 18px;font-family:Verdana;">Home</a>
        </div>


        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Blog">
                        <i style="text-shadow:0.1em 0.1em 0.2em black;"
                            class="now-ui-icons education_agenda-bookmark"></i>
                        <p style="text-shadow:0.1em 0.1em 0.2em black;"><strong>Blog</strong></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Perfildeusuario">
                        <i style="text-shadow:0.1em 0.1em 0.2em black;" class="now-ui-icons files_paper"></i>
                        <p style="text-shadow:0.1em 0.1em 0.2em black;"><strong>Acerca de</strong></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-neutral" style="cursor:pointe;background: transparent;"
                        *ngIf="!loggedIn()" routerLinkActive="active" href="ingreso/Persona">
                        <i class="now-ui-icons objects_key-25"
                            style="text-shadow:0.1em 0.1em 0.2em black;color:white;"></i>
                        <p style="text-shadow:0.1em 0.1em 0.2em black;color:white;"><strong>Sign In/Register</strong>
                        </p>

                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn btn-neutral" style="cursor:pointe;background: transparent;"
                        *ngIf="loggedIn()" (click)="logout()" href="ingreso/Persona">
                        <i class="now-ui-icons media-1_button-power"
                            style="text-shadow:0.1em 0.1em 0.2em black;color:white;"></i>
                        <p style="text-shadow:0.1em 0.1em 0.2em black;color:white;"><strong>Logout</strong></p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
                        href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fab fa-twitter" style="text-shadow:0.1em 0.1em 0.2em black;"></i>
                        <p class="d-lg-none d-xl-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
                        href="https://www.facebook.com/edisson.nauta/" target="_blank">
                        <i class="fab fa-facebook-square" style="text-shadow:0.1em 0.1em 0.2em black;"></i>
                        <p class="d-lg-none d-xl-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
                        href="https://www.instagram.com/brhyantxavier/" target="_blank">
                        <i class="fab fa-instagram" style="text-shadow:0.1em 0.1em 0.2em black;"></i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>