<!--
=========================================================
* Now UI Dashboard - v1.5.0
=========================================================
* Product Page: https://www.creative-tim.com/product/now-ui-dashboard
* Copyright 2019 Creative Tim (http://www.creative-tim.com)
* Designed by www.invisionapp.com Coded by www.creative-tim.com
=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<div class="navigation-example" style="background-image:url('assets/img/header.jpg')">
    <br>
    <br>
    <br>
    <div role="alert" id="mitoast" aria-live="assertive" aria-atomic="true" class="toast">
        <div class="toast-header">
            <!-- Icono / Logo de la Aplicación -->
            <img src="https://image.flaticon.com/icons/png/512/20/20173.png" width="20" height="20" class="rounded mr-2"
                alt="Logo Nube Colectiva">
            <!-- Nombre de la Aplicación -->
            <strong style="color: #ffffff;" class="mr-auto">Mensaje</strong>

            <!-- Botón para Cerrar el Toast -->
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Cerrar"
                onclick="cerrarToast()">
                <span aria-hidden="true">×</span>
            </button>
            <!-- Mensaje -->
            <hr>
            <h5 style="color: #ffffff;">Se a actualizado correctamente los cambios 😀</h5>
        </div>
    </div>
    <div class="user-profile">
        <div class="wrapper ">
            <div class="sidebar" data-color="orange">
                <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            </div>
            <div class="main-panel" id="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <div class="navbar-toggle">
                                <button type="button" class="navbar-toggler">
                                    <span class="navbar-toggler-bar bar1"></span>
                                    <span class="navbar-toggler-bar bar2"></span>
                                    <span class="navbar-toggler-bar bar3"></span>
                                </button>
                            </div>
                            <!-- <a class="navbar-brand">Bienvenido {{persona.usuario[0].usuario}}</a> -->
                        </div>

                    </div>
                </nav>
                <!-- End Navbar -->
                <div class="panel-header panel-header-sm">
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card" style="background: rgba(1, 68, 57, 0.568);">
                                <div class="card-header" style="color: cornsilk;">
                                    <h5 class="title">Edit Profile</h5>
                                </div>
                                <div *ngFor="let personas of ListaPersonas">
                                    <div *ngFor="let usuarios of personas.usuario">
                                        <div class="card-body">
                                            <form>
                                                <div class="row" style="color: cornsilk;">
                                                    <div class="col-md-5 pr-1">
                                                        <div class="form-group">
                                                            <label>Usuario (disabled)</label>
                                                            <ng-template [ngIf]="mostrar">
                                                                <div style="color: rgb(180, 175, 153);">
                                                                    <label> {{usuarios.usuario}}</label>
                                                                </div>
                                                            </ng-template>
                                                            <ng-template [ngIf]="!mostrar">
                                                                <div> <input
                                                                        style="color: cornsilk; background-color: transparent;"
                                                                        type="text" class="form-control" disabled=""
                                                                        placeholder="Usuario"
                                                                        [(ngModel)]="persona.usuario[0].usuario"
                                                                        name="usuario"></div>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 px-1">
                                                        <div class="form-group">
                                                            <label>Nombre</label>
                                                            <ng-template [ngIf]="mostrar">
                                                                <div style="color: rgb(180, 175, 153);">
                                                                    <label>{{personas.nombre}}</label> </div>
                                                            </ng-template>
                                                            <ng-template [ngIf]="!mostrar">
                                                                <input
                                                                    style="color: cornsilk; background-color: transparent;"
                                                                    type="text" class="form-control"
                                                                    placeholder="Username" [(ngModel)]="persona.nombre"
                                                                    name="nombre">
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 pl-1">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Apellido</label>
                                                            <ng-template [ngIf]="mostrar">
                                                                <div style="color: rgb(180, 175, 153);">
                                                                    <label>{{personas.apellido}}</label> </div>
                                                            </ng-template>
                                                            <ng-template [ngIf]="!mostrar">
                                                                <input
                                                                    style="color: cornsilk; background-color: transparent;"
                                                                    type="email" class="form-control"
                                                                    placeholder="Apellido"
                                                                    [(ngModel)]="persona.apellido" name="aplellido">
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="color: cornsilk;">
                                                    <div class="col-md-5 pr-1">
                                                        <div class="form-group">
                                                            <label>Contraseña</label>
                                                            <ng-template [ngIf]="mostrar">
                                                                <div style="color: rgb(180, 175, 153);"><label
                                                                        type="password">*****</label> </div>
                                                            </ng-template>
                                                            <ng-template [ngIf]="!mostrar">
                                                                <input
                                                                    style="color: cornsilk; background-color: transparent;"
                                                                    type="password" class="form-control"
                                                                    placeholder="Contraseña"
                                                                    [(ngModel)]="persona.usuario[0].contrasenia"
                                                                    name="contraseña">
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 pl-1">
                                                        <div class="form-group">
                                                            <label>Edad</label>
                                                            <ng-template [ngIf]="mostrar">
                                                                <div style="color: rgb(180, 175, 153);">
                                                                    <label>{{personas.edad}}</label> </div>
                                                            </ng-template>
                                                            <ng-template [ngIf]="!mostrar">
                                                                <input
                                                                    style="color: cornsilk; background-color: transparent;"
                                                                    type="number" class="form-control"
                                                                    placeholder="Edad" [(ngModel)]="persona.edad"
                                                                    name="edad">
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="color: cornsilk;">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Correo</label>
                                                            <ng-template [ngIf]="mostrar">
                                                                <div style="color: rgb(180, 175, 153);">
                                                                    <label>{{personas.email}}</label></div>
                                                            </ng-template>
                                                            <ng-template [ngIf]="!mostrar">
                                                                <input
                                                                    style="color: cornsilk; background-color: transparent;"
                                                                    type="text" class="form-control"
                                                                    placeholder="Home Address"
                                                                    [(ngModel)]="persona.email" name="correo">
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="color: cornsilk;">
                                                    <div class="col-md-4 pr-1">
                                                        <div class="form-group">
                                                            <label>Pais</label>
                                                            <ng-template [ngIf]="mostrar">
                                                                <div style="color: rgb(180, 175, 153);">
                                                                    <label>{{personas.pais}}</label> </div>
                                                            </ng-template>
                                                            <ng-template [ngIf]="!mostrar">
                                                                <select class="btn btn-outline-neutral btn-round"
                                                                    style="background: #77757565;"
                                                                    [(ngModel)]="persona.pais" name="paises">
                                                                    <option style="background-color: #4d4b4b;;"
                                                                        *ngFor="let pais of listaofPaises">{{pais}}
                                                                    </option>
                                                                </select>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <div *ngIf="condicionfoto">
                                                                <ng-template [ngIf]="!mostrar">
                                                                    <div> <button (click)="onClickSubir($event)"
                                                                            class="btn btn-primary btn-round"
                                                                            style="display: block; margin-left: auto; margin-right: auto;"
                                                                            type="button">
                                                                            <i
                                                                                class="now-ui-icons ui-2_favourite-28"></i>
                                                                            Guardar Foto
                                                                        </button></div>
                                                                </ng-template>
                                                            </div>


                                                            <div *ngIf="!condicionfoto">
                                                                <ng-template [ngIf]="!mostrar">
                                                                    <div> <button (click)="EditarUsuario()"
                                                                            class="btn btn-primary btn-round"
                                                                            style="display: block; margin-left: auto; margin-right: auto;"
                                                                            type="button">
                                                                            <i
                                                                                class="now-ui-icons ui-2_favourite-28"></i>
                                                                            Guardar Edicion
                                                                        </button></div>
                                                                </ng-template>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div *ngFor="let personas of ListaPersonas">
                                <div *ngFor="let usuarios of personas.usuario">
                                    <div class="card card-user" style="background: rgba(1, 68, 57, 0.568);">
                                        <br>
                                        <div class="profile-img"
                                            style="width: 200px; height: 200px;display: block;margin-right: auto;margin-left: auto;">
                                            <img style="border-radius: 50%; height: 100%;width: 100%;"
                                                src="{{personas.foto}}" alt="...">
                                            <ng-template [ngIf]="!mostrar">
                                                <div class="fileinputs">
                                                    <div class="file btn btn-lg btn-primary">
                                                        Edit
                                                        <input type="file" name="file" (change)="onChange($event)" />
                                                    </div>
                                                </div>

                                            </ng-template>

                                        </div>
                                        <div class="card-body">
                                            <div class="author">
                                                <p class="description">
                                                    <ng-template [ngIf]="mostrar">
                                                        <h3 style="color:white;text-align: center;">{{usuarios.usuario}}
                                                        </h3>
                                                        <h5 style="color: rgb(180, 175, 153);text-align: center;"
                                                            class="title">{{personas.nombre}} {{personas.apellido}}</h5>
                                                    </ng-template>
                                                    <ng-template [ngIf]="!mostrar">
                                                        <h3 style="color:white;text-align: center;">{{usuarios.usuario}}
                                                        </h3>
                                                        <!-- <h5 style="color: rgb(180, 175, 153);">{{personas.nombre}} {{personas.apellido}}</h5> -->
                                                    </ng-template>
                                                </p>
                                            </div>
                                            <ng-template [ngIf]="!mostrar">
                                                <h5 style="color: rgb(255, 255, 255);">Mis publicaciones</h5>
                                                <div *ngFor="let titulos of personas.publicaciones">
                                                    <h6 style="color: rgb(139, 137, 127);">{{titulos.titulo}}</h6>
                                                </div>
                                            </ng-template>
                                        </div>



                                        <div class="button-container">
                                            <ng-template [ngIf]="!mostrar">
                                                <div> <button (click)='navegarpublicaion()'
                                                        class="btn btn-primary btn-round"
                                                        style="display: block; margin-left: auto; margin-right: auto;"
                                                        type="button">
                                                        <i class="now-ui-icons ui-2_favourite-28"></i> Añadir
                                                        Publicacion
                                                    </button></div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> -->

    <button type="submit" class="button1" (click)="open(classic)">Vista Previa</button>
    <br>
    <ng-template #classic let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title text-center">Vista Preview</h5>
            <button type="button" class="close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div>
            Bienvenido A su Dashboard aqui podra editar su usario o ingresar una nueva publicacion
        </div>

    </ng-template>
</div>