<br>
<br>
<br>
<br>

<div class="container">
  <h1 style="text-align:center; color: orangered;" class="pb-4 mb-4 font-italic border-bottom">
  <strong>Snippets Desarrollo de Software</strong>  
  </h1>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">blog Para compartir conocimiento</h1>
      <p class="lead my-3">Este blog esta pensado para los progrmadores que necesitan ayuda a la hora de
        codificar.</p>
      <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 blog-main">

      <div class="search">
        <h2 style="color:rgb(0, 0, 0);">🔎Buscar:</h2>
        <form>
          <input style="BORDER:  rgb(252, 88, 28) 1px solid;FONT-SIZE: 10pt; width: 350px;" [(ngModel)]="searchCodigo"
            name="publicacionCodigo" autofocus type="text" placeholder="Enter the code to search">
          <button style=" FONT-SIZE: 11pt;background: rgb(252, 88, 28);" (click)="buscarByCodigo()"><i
              class="fa fa-search"></i>
          </button>
        </form>
      </div>
      <br>

      <tr *ngFor="let publicaciones of ListaPersonas">
        <div *ngFor="let objpublicacion of publicaciones.publicaciones">
          <div *ngFor="let objusuario of publicaciones.usuario">
            <hr style="background: orangered;">
            <div class="blog-post">
              <h2 class="blog-post-title">{{objpublicacion.titulo}}</h2>

              <p class="blog-post-meta">{{objpublicacion.fecha}} <a style="color: rgb(0, 162, 255)"
                  (click)="VerUsuario(objusuario.usuario)"><strong>{{objusuario.usuario}}</strong></a></p>
              <h3>Codigo</h3>


              <pre><code id="p1">{{objpublicacion.codigo}}</code></pre>
              <!--input type="submit" class="button" (click)="copiarAlPortapapeles('p1')" value="COPY"-->
              <br />


              <h3>Descripcion</h3>

              <p>{{objpublicacion.descripcion}}</p>
              <h3>Caracteristicas</h3>
              <p>El siguente codigo se encuentra desarrolado en el siguinete lenguaje y el IDE.</p>
              <ul>
                <li>{{objpublicacion.lenguajeProgra}}</li>
                <li>{{objpublicacion.ide}}</li>
              </ul>

            </div>


          </div>
        </div>

      </tr>

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>

    </div>

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <div class="container">


          <h5 style="color:rgb(0, 0, 0);">🔎Buscar Lenguaje de Programacion:</h5>

          <div class="ng-autocomplete">
            <h4></h4>
            <ng-autocomplete [data]="data$ | async" [searchKeyword]="keyword" [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate" placeholder="Search">
            </ng-autocomplete>
              

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.lenguajes"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>


        </div>
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
          fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Buscar por:</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">Netbeans</a></li>
          <li><a href="#">Eclipse</a></li>
          <li><a href="#">SpringTool</a></li>
          <li><a href="#">Atom</a></li>
          <li><a href="#">....</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside>

  </div>

</div>