
<div class="navigation-example" style="background-image:url('assets/img/header.jpg'); background-attachment: fixed;">
  <br>
  <br>
  <br>
  
  <div class="container">
    <h1 style="text-align:center; color: orangered;" class="pb-4 mb-4 font-italic border-bottom">
    <strong>Snippets Desarrollo de Software</strong>  
    </h1>
  
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">blog Para compartir conocimiento</h1>
        <p class="lead my-3">Este blog esta pensado para los progrmadores que necesitan ayuda a la hora de
          codificar.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
    </div>
  </div>
  
  <div class="container" style="color: rgb(255, 255, 255);" >
    <div class="row">
      <div class="col-md-8 blog-main">
  
        <div class="search">
          <h2 style="color:rgb(0, 0, 0);">🔎Buscar:</h2>
          <form>
            <input style="BORDER:  rgb(252, 88, 28) 1px solid;FONT-SIZE: 10pt; width: 350px;" [(ngModel)]="searchCodigo"
              name="publicacionCodigo" autofocus type="text" placeholder="Enter the code to search">
            <button style=" FONT-SIZE: 11pt;background: rgb(252, 88, 28);" (click)="buscarByCodigo();buscarByDescripcion()"><i
                class="fa fa-search"></i>
            </button>
          </form>
        </div>
        <br>
  
        <tr *ngFor="let publicaciones of ListaPersonas">
          <div *ngFor="let objpublicacion of publicaciones.publicaciones">
            <div *ngFor="let objusuario of publicaciones.usuario">
              <hr style="background: orangered;">
              <div class="blog-post" >
                <h2 class="blog-post-title" >{{objpublicacion.titulo}}</h2>
  
                <p class="blog-post-meta">{{objpublicacion.fecha}} <a style="color: rgb(0, 162, 255)"
                    (click)="VerUsuario(objusuario.usuario)"><strong>{{objusuario.usuario}}</strong></a></p>
                <h3 >Codigo</h3>
  
  
                <pre style="color: white;"><code id="p1">{{objpublicacion.codigo}}</code></pre>
                <!--input type="submit" class="button" (click)="copiarAlPortapapeles('p1')" value="COPY"-->
                <br />
  
  
                <h3>Descripcion</h3>
  
                <p>{{objpublicacion.descripcion}}</p>
                <h3>Caracteristicas</h3>
                <p>El siguente codigo se encuentra desarrolado en el siguinete lenguaje y el IDE.</p>
                <ul>
                  <li>{{objpublicacion.lenguajeProgra}}</li>
                  <li>{{objpublicacion.ide}}</li>
                </ul>
              </div>
            </div>
          </div>
        </tr>
      </div>
  
      <aside class="col-md-4 blog-sidebar">
        <div class="p-4 mb-3 bg-light rounded">
          <div class="container" style="background: rgb(255, 204, 175);" >
            <h5 style="color:rgb(0, 0, 0);">🔎Lenguaje de Programacion:</h5>
            <div class="ng-autocomplete">
              <div class="group">
                <label for="lenguaje" class="label">LENGUAJE</label>
                <select class="btn btn-outline-neutral btn-round btn-lg" style="BORDER:  rgb(252, 88, 28) 1px solid;FONT-SIZE: 10pt;width:100% ; background: #77757565;"[(ngModel)]="LenguajeSeleccionado">
                <option style="background-color: #4d4b4b;;" *ngFor="let lenguaje of listaLenguajes" >{{lenguaje.lenguajes}}</option>
              </select>
              <button class="btn btn-round" style=" FONT-SIZE: 11pt;background: rgb(252, 88, 28);display:block;margin-left: auto;margin-right: auto;" (click)="buscarByLenguaje()"><i
                class="fa fa-search"></i>
            </button>
             
              </div>
            </div>
            <br>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
